* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 4px 6px black;
}

body{
    background-color: rgb(169, 217, 245);
    color:rgb(112, 112, 112);
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 670px;
    height: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px black;  
    color: rgb(44, 44, 44);
}


img.pri{
    float:right;
    width: 150px;
    height: 150px;
}

img.cipo{
    float:right;
    width: 150px;
    height: 150px;
}

#btnChutar{
    margin-top: 20px;
    padding: 5px;
}

#num {
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}



